
<mat-toolbar color="primary" class="toolbar">
  <span>Twitter &nbsp;<i class="fa-brands fa-twitter"></i></span>
  <span class="example-spacer"></span>
  <div class="button-group">
    <a style="color: white !important;" routerLink="/home"><span style="font-size: 18px;font-weight: 100px">Home</span></a>&nbsp;
    <button class="btn btn-submit mx-1" routerLink="/signup">Register</button>
    <button class="btn btn-submit mx-1" routerLink="/login">Login</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
