
<mat-toolbar color="primary" class="toolbar">
  <span>Twitter &nbsp;<i class="fa-brands fa-twitter"></i></span>
  <span class="example-spacer"></span>
  <div class="button-group">
    <span routerLink="/home"><span style="font-size: 16px;font-weight: 50px !important">Home</span></span>&nbsp;
    <button class="btn btn-submit mx-1" routerLink="/signup">Register</button>
    <button class="btn btn-submit mx-1" routerLink="/login">Login</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
